.todo-item-container {
    background: #f1f1f1;
    margin-block: 20px;
    padding: 20px;
    border-radius: 6px;
    transition: all 0.6s ease-in-out;
}

.todo-item-container h3,
.todo-item-container p {
    margin: 0;
    margin-bottom: 10px;
}

.button-container {
    text-align: right;
}

.button-container button {
    padding: 5px 15px;
    border: none;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-container button:active {
    box-shadow: initial;
}
.button-container button:hover {
    box-shadow: 1px 2px 6px 1px #939393;
}

.btn-completed {
    background-color: green !important;
}

.button-container button:not(last-child) {
    margin-right: 10px;
}

.button-container button:disabled,
.button-container button:disabled:hover {
    cursor: no-drop;
    background-color: rgb(176, 176, 176) !important;
    box-shadow: none;
}
