.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
