.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

* {
    font-family: "Poppins", sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

#root {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.todo-container {
    max-width: 90%;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    overflow: hidden;
    overflow: auto;
}

@media (max-width: 610px) {
    .todo-container {
        flex-direction: column;
    }
}

.todo-list {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.btn-add {
    background-color: rgb(255, 144, 75);
    width: 200px;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 400ms ease-out;
    cursor: pointer;
}

.btn-add:hover {
    background-color: rgb(216 90 11);
    box-shadow: 1px 1px 8px #a3a3a3;
}
