.todo-form {
    min-width: 300px;
    width: auto;
    max-width: 500px;
}
.todo-form label {
    font-size: 14px;
}

.todo-form form {
    padding: 12px;
    background-color: #f3f3f3;
    border-radius: 4px;
}

.todo-form .form-control {
    margin: 5px auto 12px;
}
.todo-form input {
    width: calc(100% - 12px);
    display: block;
    height: 32px;
    padding: 5px;
    border: none;
    outline: none;
    padding: 5px 8px;
    border-radius: 4px;
}

.todo-form button {
    min-width: 95px;
    padding: 9px 0;
    border: none;
    border-radius: 6px;
    color: white;
    text-transform: CAPITALIZE;
    /* font-weight: 600; */
    font-size: 15px;
    transition: all 500ms ease;
}

.todo-form .button-container {
    display: flex;
    margin-top: 18px;
    justify-content: flex-end;
}

.todo-form .button-container .btn-save {
    background-color: #24af35;
}

.todo-form .button-container .btn-save:hover {
    background-color: #016d0f;
}

.todo-form .button-container .btn-cancel {
    background-color: #c4c4c4;
}

.todo-form .button-container .btn-cancel:hover {
    background-color: #4b4848;
}

input :placeholder-shown {
    font-size: 14px;
}
